body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
}

#drop-area {
  display: block;
  height: calc(100vh - 40px);
  line-height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  margin: 15px;
  border: dashed 5px grey;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
